<div class="container wrapper">
    <!-- If artistOutput or trackOutput is not null, add class active -->
	<div [class.active]="artistOutput || trackOutput" class="searchMusic">

        <!-- Quick dev tool reset -->
		<h1 (click)="artistOutput = null; trackOutput = null">Search your favorite music</h1>
		<p>Utilizes the Spotify API.</p>
		<form [formGroup]="searchForm">
			<div class="row align-items-center">
				<div class="col-9">
					<input type="text" class="form-control" placeholder="Enter song title or artist name..." formControlName="search" (keypress)="omit_semicolon($event)" autofocus>
					<!-- If form is invalid or a semicolun is used, show error -->
                    <div class="input-error">
                        <span class="small" *ngIf="!searchForm.valid && searchForm.dirty">Input required</span>
                        <span class="small" *ngIf="semicolonDetected">Semicolons are forbidden</span>
                    </div>
				</div>
				<div class="col">
                    <!-- Disable submit button if form is invalid -->
					<button [disabled]="!searchForm.valid" type="submit" class="btn btn-primary" (click)="submit()">Search</button>
				</div>  
			</div>
		</form>
	</div>

	<div class="spacer"></div>

    <!-- If artistOutput is not null, add class active -->
	<div [class.active]="artistOutput" class="searchResults">
		<h6>Artists</h6>
        <!-- If no artists are found, show 0 results -->
		<p *ngIf="artistOutput && artistOutput.length === 0">0 Results</p>

        <!-- If artists are found, format json response -->
		<div id="artists" *ngIf="artistOutput">
			<div class="artists-scroll">

                <!-- Loop artistOutput and format the results -->
				<div *ngFor="let artist of artistOutput; let i = index" class="card">
					<img *ngIf="artist.images[2]" [src]="artist.images[2].url" height="160" width="160">
					<img *ngIf="!artist.images[2]" src="https://placehold.it/160x160" height="160" width="160">
					<p>{{artist.name}}</p>
					<span *ngFor="let genre of artist.genres | slice:0:1 ; let i=index" class="genre small">{{genre}}</span>
					<span *ngIf="artist.genres.length == 0" class="genre small">none</span>
					<br>

                    <!-- Create a click event to allow user to query more about this artist -->
					<button class="btn btn-secondary" (click)="searchArtistAlbumsTracks(artist.id)">More by this artist</button>
				</div>
			</div>
		</div>
	</div>

	<br><br>

    <!-- If trackOutput is not null, add class active -->
	<div [class.active]="trackOutput" class="searchResults">
		<h6>Songs</h6>

        <!-- If no tracks found, show 0 results -->
		<p *ngIf="trackOutput && trackOutput.length ===0">0 Results</p>

        <!-- If tracks are found, format json response -->
		<div id="tracks" *ngIf="trackOutput && trackOutput.length > 0">
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Title</th>
						<th>Album</th>
						<th>Duration</th>
						<th>Listen</th>
					</tr>
				</thead>
				<tbody>
                    <!-- Loop trackOutput and format the results -->
					<tr *ngFor="let tracks of trackOutput; let i = index">
						<td>{{tracks.popularity}}</td>
						<td>
							<img *ngIf="tracks.album.images[0]" [src]="tracks.album.images[0].url" height="50" width="50">
							<img *ngIf="!tracks.album.images[0]" src="https://placehold.it/50x50" height="50" width="50">
							<span>{{tracks.name}}</span><br>
							<span class="small">{{tracks.artists[0].name}}</span>

						</td>
						<td>{{tracks.album.name}}<br><span class="small">{{tracks.album.release_date}}</span></td>
						<td>{{ ((tracks.duration_ms / 1000) / 60) | number : '1.2-2'}}</td>
						<td>
							<a *ngIf="tracks.external_urls.spotify" target="_blank" [href]="tracks.external_urls.spotify"><i class="fa fa-spotify"></i></a> 
							<a *ngIf="tracks.preview_url" target="_blank" [href]="tracks.preview_url"><i class="fa fa-play-circle"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- If artistTrackOutput = true, show this popup window -->
<div [class.open]="artistTrackOutput" class="popup">
	<h3>More by this artist</h3>

    <!-- Close this popup window on click -->
	<span (click)="close()" class="close small"><i class="fa fa-times"></i></span>
	<br>
	<div class="content">
		<h6>Tracks</h6>

        <!-- If no artistTracks found, show 0 results -->
		<p *ngIf="!artistTrackOutput">0 Results</p>

        <!-- If artistTracks are found, format json response -->
		<div id="artistTracks" *ngIf="artistTrackOutput">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Title</th>
						<th>Album</th>
						<th>Duration</th>
						<th>Listen</th>
					</tr>
				</thead>
				<tbody>

                    <!-- Loop artistTrackOutput and format the results -->
					<tr *ngFor="let track of artistTrackOutput; let i = index">
						<td>{{track.popularity}}</td>
						<td>
							<img *ngIf="track.album.images[0]" [src]="track.album.images[0].url" height="50" width="50">
							<img *ngIf="!track.album.images[0]" src="https://placehold.it/50x50" height="50" width="50">
							<span>{{track.name}}</span><br>

						</td>
						<td>{{track.album.name}}</td>
						<td>{{ ((track.duration_ms / 1000) / 60) | number : '1.2-2'}}</td>
						<td>
							<a *ngIf="track.external_urls.spotify" target="_blank" [href]="track.external_urls.spotify"><i class="fa fa-spotify"></i></a> 
							<a *ngIf="track.preview_url" target="_blank" [href]="track.preview_url"><i class="fa fa-play-circle"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br><br>
		<h6>Albums</h6>

        <!-- If no artistAlbumOutput found, show 0 results -->
		<p *ngIf="!artistAlbumOutput">0 Results</p>

        <!-- If artistAlbumOutput is found, format json response -->
		<div id="artistAlbums" *ngIf="artistAlbumOutput">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Title</th>
						<th>Type</th>
						<th>Release Date</th>
						<th>View</th>
					</tr>
				</thead>
				<tbody>

                    <!-- Loop artistAlbumOutput and format the results -->
					<tr *ngFor="let album of artistAlbumOutput; let i = index">
						<td>
							<img *ngIf="album.images[0]" [src]="album.images[0].url" height="50" width="50">
							<img *ngIf="!album.images[0]" src="https://placehold.it/50x50" height="50" width="50">
							<span>{{album.name}}</span>

						</td>
						<td>{{album.album_type}}</td>
						<td>{{album.release_date}}</td>
						<td>
							<a target="_blank" [href]="album.external_urls.spotify"><i class="fa fa-spotify"></i></a> 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
